.todo{
  background-color: #d0d7e1;
  margin: 1rem;
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem;
  color: black;
}

.todo:hover{
  background-color: #2d283e;
  color: aliceblue;

}

.todo p {
  opacity: 0.6;
}

.btn{
  border: none;
  background-color: transparent;
  color: red;
  cursor: pointer;
  padding: 15px;
  
}